@inherits LayoutComponentBase

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="top-row px-4">
        @*<NavLink href="contacts" target="_blank" class="ml-md-auto">Contacts</NavLink>
        <NavLink href="aboutUs" target="_blank">About Us</NavLink>*@
    </div>

    <div class="content px-4">
        @Body
    </div>
</div>
